<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>partials</title>
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
        dolorum, eum ullam eos impedit ipsum consectetur mollitia tempora
        necessitatibus magni eveniet. Dicta aperiam et nobis, ipsum tempore aut
        perspiciatis rem!
      </p>
    </div>
  </body>
</html>
