// Write an @import statement to import a partial named _variables.scss into the main.scss file.

@import "variables";

div {
  background-color: $bg-color;
  p {
    font-size: $font-sz;
    color: $text-color;
  }
}
